.contact-informations {
  position: absolute;
  top: 100px;
  left: -100px;
  padding: 10px;
  border: 1px solid var(--brown--light);
  border-radius: 4px;
  margin-bottom: 2rem;
  @media (max-width: 700px) {
    position: unset;
    display: inline-block;
    background-color: white;
  }
}
.informations__list {
  margin-top: 1rem;
  list-style: none;
  font-size: 1.3rem;
  font-weight: bold;
  li {
    display: flex;
    gap: 15px;
    margin-bottom: 1rem;
  }
}
.number {
  cursor: pointer;
  &--inactive {
    background-color: var(--brown--light);
    border-radius: var(--border-radius);
    padding: 1px 4px;
  }
}
