.offer {
  background-color: var(--grey--light);
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    font-weight: bold;
    width: 150px;
  }
}
.button--add-offer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;
  width: 30px;

  cursor: pointer;
  &:hover {
    background-color: white;
    svg {
      fill: black;
    }
  }
  svg {
    fill: white;
  }
}
