@import "../../../styles/mixins";
.login__wrapper {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  font-weight: bold;
  input,
  textarea {
    @include inputs;
  }
  label {
    font-weight: bold;
    font-size: 1.2rem;
  }
  button {
    margin-top: 2rem;
  }
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
