.navigation--desktop {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.3s;
  background-color: var(--brown--light);
  padding: 1rem 0;
  box-shadow: 2px 2px 3px var(--black);
  z-index: 100;

  ul {
    list-style: none;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: var(--bold-font);

    gap: 30px;
    li {
      font-size: 1.2rem;
    }
  }
  &.scrolled {
    padding: 0.2rem 0;
  }
}
.navigation--mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  opacity: 0;
  width: 0%;
  height: 100%;
  background-color: var(--brown--light);
  padding: 2rem 0;
  box-shadow: 2px 2px 3px var(--black);
  z-index: 200;
  transition: all 0.3s;

  &.active {
    width: 50%;
    opacity: 1;
  }

  ul {
    list-style: none;
    align-items: left;
    display: flex;
    padding-left: 2rem;
    flex-direction: column;
    justify-content: center;
    font-family: var(--bold-font);

    gap: 30px;
    li {
      font-size: 1.2rem;
    }
  }
}
